<div class="section wrap_item_list">
    <div class="section_inner wrap_item_list_inner">
        <p class="wrap_item_list_title">@@title</p>

        <ul class="user_list @@class_arrange_type">
            <li class="user">
                <img class="user_photo" src="../../images/image/users/user_pic.png" alt=""/>
                <span class="user_name">장재원</span>
                <span class="user_traveling_country">미국</span>
            </li>
            <li class="user">
                <img class="user_photo" src="../../images/image/users/user_pic.png" alt=""/>
                <span class="user_name">장재원</span>
                <span class="user_traveling_country">홍콩</span>
            </li>
            <li class="user">
                <img class="user_photo" src="../../images/image/users/user_pic.png" alt=""/>
                <span class="user_name">장재원</span>
                <span class="user_traveling_country">브라질</span>
            </li>
            <li class="user">
                <img class="user_photo" src="../../images/image/users/user_pic.png" alt=""/>
                <span class="user_name">장재원</span>
                <span class="user_traveling_country">아프리카</span>
            </li>
            <li class="user">
                <img class="user_photo" src="../../images/image/users/user_pic.png" alt=""/>
                <span class="user_name">장재원</span>
                <span class="user_traveling_country">호주</span>
            </li>
        </ul>
    </div>
</div>
