<div class="section">
    <div class="wrap_item_list">
        <div class="wrap_item_list_inner">
            <p class="wrap_item_list_title">@@title</p>

            <ul class="item_list @@class_arrange_type">
                <li class="item">
                    <a href="" class="item_link">
                        <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_1.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                        <div class="item_content">
                            <p class="item_content_title">브라이언트 파크에 가다!</p>
                            <p class="item_content_description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="" class="item_link">
                        <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_2.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                        <div class="item_content">
                            <p class="item_content_title">뉴욕의 밤</p>
                            <p class="item_content_description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="" class="item_link">
                        <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_3.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                        <div class="item_content">
                            <p class="item_content_title">뉴욕의 맛집을 찾아서</p>
                            <p class="item_content_description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="" class="item_link">
                        <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_3.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                        <div class="item_content">
                            <p class="item_content_title">뉴욕의 맛집을 찾아서</p>
                            <p class="item_content_description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
