@@include('common/head.html')

    @@include('common/ui_header.html')
    <div id="app" class="nm-view">
        @@include('view/main/main_visual.html')

        @@include('view/main/main_item_list.html', {
            "title" : "LATEST BLOG POST",
            "class_arrange_type" : "column3"
        })

        @@include('view/main/main_item_list.html', {
            "title" : "LATEST VISITED COUNTRY",
            "class_arrange_type" : "column3"
        })

        @@include('view/main/main_user_list.html', {
            "title" : "PEOPLE TRAVELING",
            "class_arrange_type" : "column8"
        })
    </div>
    @@include('common/ui_footer.html')

@@include('common/tail.html')
