@charset "utf-8";

.btn--go_top{
  position:fixed;
  right:30px;
  bottom:30px;
  display:block;
  width:60px;
  height:60px;
  background-color:rgba(0,0,0,0.2);
  color:#fff;
  border-radius: 6px;
  transition: all .3s ease;
  &:hover{
    background-color: $main-color; //rgba(38, 255, 140, 0.8);
  }
  .text{
    @include hidden;
  }
}
