@charset "utf-8";

#header{
  position:fixed;
  z-index: 9999;
  width:100%;
  box-sizing:border-box;
  background-color:rgba(0,0,0,0.2);

  #header--inner{
    min-width:720px;
    max-width:1280px;
    margin:0 auto;
  }
}

@import './header_logo';
// 글로벌 내비게이션
@import './global_navigation';
