<div id="wrap_post_detail">
    <div class="post_header">
        <h1 class="post_title">브라이언트 파크에 가다!</h1>
        <p class="post_info">
            <span class="date">2017년 5월 12일</span> by
            <span class="writer">장재원</span>
        </p>
    </div>

    <div class="post_content">
        <p>
            When I started planning my first trip to Latin America in 2010, I wondered what it would be like to travel with my girlfriend in strictly Catholic countries, many of them known for their culture of machismo. Would we be safe? Would we get the chance to connect with local lesbians or meet other lesbian travelers?
            I had traveled extensively around Europe and I’d been to LGBT hot spots in the US but had no idea what to expect in other parts of the world. Back then, there wasn’t much information online, and social media wasn’t as ubiquitous as it is now. Today, planning a lesbian trip has gotten much easier since then. Still, if you are not traveling to a lesbian or Pride festival, planning an LGBT-friendly trip can be daunting and overwhelming. Where to start? How to go about finding queer-friendly destinations and meeting other gay travelers?
        </p>
        <img src="../../images/image/media/post_image1.jpg" alt="">
        <p>
            When I started planning my first trip to Latin America in 2010, I wondered what it would be like to travel with my girlfriend in strictly Catholic countries, many of them known for their culture of machismo. Would we be safe? Would we get the chance to connect with local lesbians or meet other lesbian travelers?
            I had traveled extensively around Europe and I’d been to LGBT hot spots in the US but had no idea what to expect in other parts of the world. Back then, there wasn’t much information online, and social media wasn’t as ubiquitous as it is now. Today, planning a lesbian trip has gotten much easier since then. Still, if you are not traveling to a lesbian or Pride festival, planning an LGBT-friendly trip can be daunting and overwhelming. Where to start? How to go about finding queer-friendly destinations and meeting other gay travelers?
            When I started planning my first trip to Latin America in 2010, I wondered what it would be like to travel with my girlfriend in strictly Catholic countries, many of them known for their culture of machismo. Would we be safe? Would we get the chance to connect with local lesbians or meet other lesbian travelers?
            I had traveled extensively around Europe and I’d been to LGBT hot spots in the US but had no idea what to expect in other parts of the world. Back then, there wasn’t much information online, and social media wasn’t as ubiquitous as it is now. Today, planning a lesbian trip has gotten much easier since then. Still, if you are not traveling to a lesbian or Pride festival, planning an LGBT-friendly trip can be daunting and overwhelming. Where to start? How to go about finding queer-friendly destinations and meeting other gay travelers?
        </p>
        <img src="../../images/image/media/post_image1.jpg" alt="">
    </div>

    <div class="wrap_comments">
        <p class="comments_title">댓글</p>
        <form action="" method="post">
            <label for="comment">댓글</label>
            <textarea name="comment" id="comment" class="field_comment" cols="30" rows="10">댓글을 남겨주세요</textarea>
            <button type="button" class="btn_write_comment">댓글 작성</button>
        </form>

        <ul class="comments_list">
            <li class="comments_item">
                <div class="writer">
                    <img class="user_photo" src="../../images/image/users/user_pic.png" alt=""/>
                    <span class="user_name">장재원</span>
                </div>
                <div class="comment">이쁘네요!! 굿!</div>
            </li>
            <li class="comments_item">
                <div class="writer">
                    <img class="user_photo" src="../../images/image/users/user_pic.png" alt=""/>
                    <span class="user_name">장재원</span>
                </div>
                <div class="comment">
                    When I started planning my first trip to Latin America in 2010, I wondered what it would be like to travel with my girlfriend in strictly Catholic countries, many of them known for their culture of machismo. Would we be safe? Would we get the chance to connect with local lesbians or meet other lesbian travelers?
                    I had traveled extensively around Europe and I’d been to LGBT hot spots in the US but had no idea what to expect in other parts of the world. Back then, there wasn’t much information online, and social media wasn’t as ubiquitous as it is now. Today, planning a lesbian trip has gotten much easier since then. Still, if you are not traveling to a lesbian or Pride festival, planning an LGBT-friendly trip can be daunting and overwhelming. Where to start? How to go about finding queer-friendly destinations and meeting other gay travelers?
                </div>
            </li>
        </ul>
    </div>
</div>
