<div class="section">
    <div class="wrap_post_list">
        <ul class="post_list">
            <li class="post_item">
                <a href="post_detail.html" class="post_link">
                                <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_1.jpg') no-repeat 50% 50%; background-size:cover;">
                                    <span class="item_title">포스트 타이틀</span>
                                </span>
                    <p class="item_description">
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                    </p>
                </a>
            </li>
            <li class="post_item">
                <a href="" class="post_link">
                                <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_2.jpg') no-repeat 50% 50%; background-size:cover;">
                                    <span class="item_title">비행기 타고 하늘을 날다</span>
                                </span>
                    <p class="item_description">
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                    </p>
                </a>
            </li>
            <li class="post_item">
                <a href="" class="post_link">
                    <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_3.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                    <p class="item_description">
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                    </p>
                </a>
            </li>
            <li class="post_item">
                <a href="" class="post_link">
                                <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_1.jpg') no-repeat 50% 50%; background-size:cover;">
                                    <span class="item_title">포스트 타이틀</span>
                                </span>
                    <p class="item_description">
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                    </p>
                </a>
            </li>
            <li class="post_item">
                <a href="" class="post_link">
                                <span class="item_photo" style="background:url('../../images/image/page/main/main_visual/item_2.jpg') no-repeat 50% 50%; background-size:cover;">
                                    <span class="item_title">비행기 타고 하늘을 날다</span>
                                </span>
                    <p class="item_description">
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                        뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>
