@charset "utf-8";

#app {
  width:100%;
  background-color:#fff;


  .contents{
    width:100%;
    padding-bottom:80px;
    .contents_inner{
      position:relative;
      box-sizing: border-box;
      max-width:1280px;
      margin:0 auto;
      padding:0 20px;
    }
  }

  // 메인페이지
  &.page_main{
    height:100%;
    .contents{
      padding:0 0 50px 0;
    }
  }

  &.page_about{}
  &.page_post{
    .contents {
      padding-top: 50px;
    }
  }
  &.page_post_detail{
    .contents{
      padding-top:150px;
      .contents_inner{
        max-width:100%;
        padding:0;
      }
      .wrap_comments{
        margin-top:40px;
      }
    }
  }
  &.page_photo{}
  &.page_traveler{}
  &.page_register{}
}
