@charset "utf-8";

#app {
  width:100%;
  background-color:#fff;

  .contents{
    padding-bottom:80px;
  }
  // 메인페이지
  &.page_main{
    height:100%;
    .contents{
      padding:0 0 50px 0;
    }
  }

  &.page_about{}
  &.page_post{
    .contents{
      padding-top:150px;

      .wrap_comments{
        margin-top:40px;
      }
    }
  }
  &.page_photo{}
  &.page_traveler{}
  &.page_register{}
}

.contents,
.section{
  width:100%;
  .contents_inner,
  .section_inner{
      position:relative;
      box-sizing: border-box;
      max-width:1280px;
      margin:0 auto;
      padding:0 20px;
  }
}
