@charset "utf-8";

#wrap_post_detail{
  .post_header{
    max-width:1024px;
    margin: 0 auto 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #cecece;
    box-sizing: border-box;
    .post_title{
      font-size:30px;
      margin-bottom:15px;
      color:#6b6b6b;
    }
    .post_info{
      color:#6b6b6b;
      font-size:14px;
      font-weight:bold;
      .date,
      .writer{font-weight:normal;}
    }
  }


  .post_content *{
    max-width:1024px;
    margin:0 auto;
  }
  .post_content{
    width:100%;
    p, ul, ol, img, h1,h2,h3,h4,h5,h6 {
      margin:15px auto;
    }
    p{
      line-height:1.4em;
    }
    li{
      margin:10px 0;
    }
    img{
      padding:0;
      width: 110%;
      max-width:110%;
      margin:0 0 0 -5%;
      display:block;
    }
  }
}
