@charset "utf-8";

#wrap_post_detail{
  .post_header{
    max-width:1024px;
    margin:0 auto 10px;
    padding:0 0 10px;
    border-bottom:1px solid #a1a1a1;
    .post_title{
      font-size:30px;
      margin-bottom:10px;
      color:#6b6b6b;
    }
    .post_info{
      color:#6b6b6b;
      font-size:14px;
      font-weight:bold;
      .date,
      .writer{font-weight:normal;}
    }
  }


  .post_content *{
    max-width:1024px;
    margin:0 auto;
    padding:0 20px;
  }
  .post_content{
    width:100%;
    *{
      margin:25px auto;
    }
    p{
      line-height:1.4em;
    }
    img{
      padding:0;
      width: 100%;
      max-width:100%;
      margin:0;
    }
  }
}
