<div id="section--list_wrap">
    <p class="section--title">@@title</p>

    <ul class="section--user_list @@class_arrange_type">
        <li class="list--user">
            <img src="" alt=""/>
            <span class="name">장재원</span>
            <span class="text--traveling_country">미국</span>
        </li>
        <li class="list--user">
            <img src="" alt=""/>
            <span class="name">장재원</span>
            <span class="text--traveling_country">홍콩</span>
        </li>
        <li class="list--user">
            <img src="" alt=""/>
            <span class="name">장재원</span>
            <span class="text--traveling_country">브라질</span>
        </li>
        <li class="list--user">
            <img src="" alt=""/>
            <span class="name">장재원</span>
            <span class="text--traveling_country">아프리카</span>
        </li>
        <li class="list--user">
            <img src="" alt=""/>
            <span class="name">장재원</span>
            <span class="text--traveling_country">호주</span>
        </li>
    </ul>

    <a href="" class="link--more_list">more</a>
</div>
