<div class="section_root section--list_wrap">
    <div class="section_root--inner">
        <p class="section--title">@@title</p>

        <ul class="section--list @@class_arrange_type">
            <li class="list--item">
                <a href="" class="list--link">
                    <span class="list--photo" style="background:url('../../images/image/view/main/main_visual/item_1.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                    <div class="list--content">
                        <p class="list--title">브라이언트 파크에 가다!</p>
                        <p class="list--description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                    </div>
                </a>
            </li>
            <li class="list--item">
                <a href="" class="list--link">
                    <span class="list--photo" style="background:url('../../images/image/view/main/main_visual/item_2.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                    <div class="list--content">
                        <p class="list--title">뉴욕의 밤</p>
                        <p class="list--description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                    </div>
                </a>
            </li>
            <li class="list--item">
                <a href="" class="list--link">
                    <span class="list--photo" style="background:url('../../images/image/view/main/main_visual/item_3.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                    <div class="list--content">
                        <p class="list--title">뉴욕의 맛집을 찾아서</p>
                        <p class="list--description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                    </div>
                </a>
            </li>
            <li class="list--item">
                <a href="" class="list--link">
                    <span class="list--photo" style="background:url('../../images/image/view/main/main_visual/item_3.jpg') no-repeat 50% 50%; background-size:cover;"></span>
                    <div class="list--content">
                        <p class="list--title">뉴욕의 맛집을 찾아서</p>
                        <p class="list--description">뉴욕하면 단연 센트럴 파크를 떠올리지만 센트럴 파크에서 조금만 가면 작고 아담한 브라이언트 파크가 있다.</p>
                    </div>
                </a>
            </li>
        </ul>

        <!--<a href="" class="link&#45;&#45;more_list">More</a>-->
    </div>
</div>
